<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../../../RealEstateWeb/public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../../RealEstateWeb/public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">
    <link href="../../../../../RealEstateWeb/public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <link href="../../../../../RealEstateWeb/resources/views/template/css/projectPost.css" rel="stylesheet">

    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="../../../../../RealEstateWeb/public/lib/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet">

</head>
<body>
<!--start header-->
<header>


</header>
<!--end header-->

<!--start Navigation-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top nav-property ">
    <div class="container">
        <a class="navbar-brand "
           href="../../../../RealEstateWeb/resources/views/template/main.html">
            <div class="navbar-brand flex-center justify-content-between ">
                <img class="mr-3 ml-4 " src="../../../../RealEstateWeb/public/img/logo/logo.png" style="width: 50px">
                <h5 class=" text-uppercase mb-2 mt-2 font-weight-bold main-color">XÂY DỰNG NHÀ ĐẸP</h5>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-left row  align-items-center" id="navbarSupportedContent-555">
            <ul class="navbar-nav  col-9 border-right">
                <li class="nav-item nav-menuItem font-weight-bolder ">
                    <a class="nav-link text-center" href="../../../../RealEstateWeb/resources/views/template/main.html">Trang
                        Chủ
                    </a>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link text-center"
                       href="../../../../RealEstateWeb/resources/views/template/intro.html">Giới Thiệu</a>
                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem"
                >
                    <a class="nav-link text-center"
                       href="../../../../RealEstateWeb/resources/views/template/services.html"
                       role="link"
                    >Dịch vụ
                    </a>
                    <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                    <div class="dropdown-menu mt-1 w-100">
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Nhà Trọn Gói</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                    </div>

                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem" id="nav-menuItem-active"
                >
                    <a class="nav-link text-center"
                       href="../../../../RealEstateWeb/resources/views/template/project.html"
                       role="link"
                    >Dự án
                    </a>
                    <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                    <div class="dropdown-menu mt-1 w-100">
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Biệt Thự</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Nhà Phố</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Văn Phòng</a>
                    </div>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link text-center"
                       href="../../../../RealEstateWeb/resources/views/template/contact.html">Liên Hệ</a>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link text-center"
                       href="../../../../RealEstateWeb/resources/views/template/login.html">Đăng nhập</a>
                </li>
            </ul>
            <!--icon font ring-->
            <div class="phone-contain flex-center justify-content-center col-3">

                <div class="icon-phone-ring col-lg-6 col-md-6 col-sm-12 ">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-phone"></i>
                        <i class="circle-1"></i>
                    </div>
                </div>
                <div>
                    <a class=" col-lg-6 col-md-6">0352033199</a>
                </div>
            </div>
        </div>
    </div>
</nav>


<!--end Navigation-->

<!--start content-->
<section id="PostContent">
    <!--start breadcrumb-->

    <!--end breadcrumb-->
    <div class="container">
        <div>
            <div class="bc-icons-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-white breadcrumb-font">
                        <li class="breadcrumb-item p-0"><a class="black-text breadcrumb-size" href="/"><i
                            class="fas fa-home"></i></a>
                            <i class="fas fa-caret-right mx-2" aria-hidden="true"></i></li>
                        <li class="breadcrumb-item breadcrumb-size p-0">
                            <a class="black-text text-uppercase" href="#">Dự án</a>
                            <i class="fas fa-caret-right mx-2" aria-hidden="true"></i>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-size p-0">
                            <a class="black-text text-uppercase" href="#">nhà phố hiện đại tại hải dương</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 col-md-8 col-lg-8 post-content position-relative">
                <i class="fa-regular fa-bookmark position-absolute "
                   style="z-index: 1000; left: 5%; top:22px; font-size: 25px"></i>
                <h1 class="text-center mb-3 mt-3 post-title text-uppercase">nhà phố hiện đại tại hải dương</h1>
                <div class="row">

                    <p class="font-italic col-lg-5 col-md-5 col-sm-12 m-0"><strong>Ngày đăng: 25/06/2018; Mã dự án:
                        0003</strong></p>
                    <p class="font-italic col-lg-7 col-md-7 col-sm-12 m-0"><strong><span>Loại dự án: Nhà phố;</span>
                        <span>Loại dịch vụ: Thiết kế, Sửa chữa</span></strong></p>
                </div>


                <div class="gallery position-relative h-auto mb-3 ">
                    <div class="img position-relative w-100 h-100 overflow-hidden ">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/1.jpg"
                             alt="Image">
                    </div>
                    <div class="img position-relative w-100 h-100 overflow-hidden">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/2.jpg"
                             alt="Image">
                    </div>
                    <div class="img position-relative w-100 h-100 overflow-hidden">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/3.jpg"
                             alt="Image">
                    </div>
                    <div class="img position-relative w-100 h-100 overflow-hidden">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/4.jpg"
                             alt="Image">
                    </div>
                    <div class="img position-relative w-100 h-100 overflow-hidden">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/9.jpg"
                             alt="Image">
                    </div>
                    <div class="img position-relative w-100 h-100 overflow-hidden">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/12.jpg"
                             alt="Image">
                    </div>
                    <div class="img position-relative w-100 h-100 overflow-hidden">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/13.jpg"
                             alt="Image">
                    </div>
                    <div class="img position-relative w-100 h-100 overflow-hidden">
                        <img class="" src="../../../../RealEstateWeb/public/img/gallery project post img/14.jpg"
                             alt="Image">
                    </div>
                </div>
                <h6 class="mt-2 mb-2" id="1. Đơn vị thi công phần thô nhà phố đạt tiêu chuẩn 2023">

                    Thiết kế kiến trúc mặt tiền bắt mắt
                </h6>
                <p>
                    Mặt tiền của công trình được sử dụng những vật liệu hiện đại, đem lại sự sang trọng và cuốn hút.
                    Kết hợp cùng với không gian xanh tự nhiên, tạo cảm giác thông thoáng, dễ chịu cho căn nhà.
                </p>
                <div>
                    <img
                        src="../../../../../RealEstateWeb/public/img/project-img/z3904713175018_2c57fb9ac39d925179c2278269912155_1671524950.jpg"
                        alt="">
                    <p>Mặt tiền được thiết kế kiến trúc vuông vắn với những đường nét độc đáo</p>
                </div>
                <div>
                    <img
                        src="../../../../../RealEstateWeb/public/img/project post img/z3904713188335_87a8fb4e1b477eb507e2f7ff61ecd945_1671524950-1032x800.jpg"
                        alt="">
                    <p>Kết hợp cùng không gian xanh tạo cảm giác thông thoáng, dễ chịu</p>
                </div>
                <h6 class="mt-2 mb-2">
                    Bố trí cửa sổ đón nhiều ánh sáng tự nhiên
                </h6>
                <p>
                    Những căn nhà phố có mặt tiền hẹp và sâu dễ bị thiếu sáng và không khí. Tuy nhiên với thiết kế kiến
                    trúc này có hệ thống nhiều cửa sổ
                    cùng với giếng trời giúp cho ngôi nhà luôn tràn ngập ánh sáng và không khí tự nhiên.
                </p>
                <div>
                    <img
                        src="../../../../../RealEstateWeb/public/img/project post img/z3904713186745_bd7de960470cba9ae042a368cdd52e8b_1671524950.jpg"
                        alt="">
                    <p>Hệ thống nhiều cửa sổ giúp ngôi nhà luôn ngập tràn ánh sáng và không khí tự nhiên</p>
                </div>
                <div>
                    <img
                        src="../../../../../RealEstateWeb/public/img/project post img/z3904713175130_7b02a6152c6770ef31910c99ae5d4314_1671524950-1032x800.jpg"
                        alt="">
                    <p>Mái tum tầng có thể bố trí làm phòng thờ và sân thượng đẹp mắt</p>
                </div>
                <div class="company-address">
                    <h6 class="mt-2 mb-2">CÔNG TY XÂY DỰNG TMĐT NHÀ XINH</h6>
                    <p>Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</p>
                    <p>Hotline: 0935 671 886</p>
                    <p>Email: xaydungnhadep@gmail.com</p>
                    <p>Website: nhadep.asia</p></div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 recommed-box ">
                <div class="wrapper-feature-news mt-3 mb-1 h-100">
                    <div class="sticky-top" style="z-index: 1; top:80px">
                        <div class="feature-news-header">
                            <p class="text-uppercase main-color"><i class="fa-solid fa-caret-right mr-2">
                            </i>Đặt ngay cho bạn</p>
                        </div>
                        <form class="card" action="" method="post">
                            <div class="card-body pl-3 pr-3">
                                <!--Header-->
                                <!--Body-->
                                <div class="md-form mt-1 mb-1 p-1">
                                    <input type="text" id="form-email" class="form-control p-1 m-0"
                                           style="font-size: 15px">
                                    <label for="form-email" class="m-0" style="font-size: 15px"> <i
                                        class="fa-lg fas fa-envelope grey-text"></i>
                                        Địa chỉ email</label>
                                </div>
                                <div class="form-outline mt-1 mb-1">
                                    <label for="address" class="labels">Địa chỉ</label>
                                    <select name="address" id="address" class="form-control">
                                        <option value="" disabled selected>Chọn tỉnh thành</option>

                                        <option value="92TTT">Thành phố Cần Thơ</option>

                                        <option value="91TTT"> Kiên Giang</option>

                                        <option value="75TTT"> Đồng Nai</option>

                                        <option value="20TTT"> Lạng Sơn</option>

                                        <option value="89TTT"> An Giang</option>

                                        <option value="34TTT"> Thái Bình</option>

                                        <option value="62TTT"> Kon Tum</option>

                                        <option value="45TTT"> Quảng Trị</option>

                                        <option value="58TTT"> Ninh Thuận</option>

                                        <option value="74TTT"> Bình Dương</option>

                                        <option value="37TTT"> Ninh Bình</option>

                                        <option value="31TTT">Thành phố Hải Phòng</option>

                                        <option value="95TTT"> Bạc Liêu</option>

                                        <option value="08TTT"> Tuyên Quang</option>

                                        <option value="14TTT"> Sơn La</option>

                                        <option value="36TTT"> Nam Định</option>

                                        <option value="25TTT"> Phú Thọ</option>

                                        <option value="42TTT"> Hà Tĩnh</option>

                                        <option value="93TTT"> Hậu Giang</option>

                                        <option value="82TTT"> Tiền Giang</option>

                                        <option value="66TTT"> Đắk Lắk</option>

                                        <option value="80TTT"> Long An</option>

                                        <option value="17TTT"> Hòa Bình</option>

                                        <option value="87TTT"> Đồng Tháp</option>

                                        <option value="19TTT"> Thái Nguyên</option>

                                        <option value="83TTT"> Bến Tre</option>

                                        <option value="54TTT"> Phú Yên</option>

                                        <option value="26TTT"> Vĩnh Phúc</option>

                                        <option value="94TTT"> Sóc Trăng</option>

                                        <option value="60TTT"> Bình Thuận</option>

                                        <option value="51TTT"> Quảng Ngãi</option>

                                        <option value="64TTT"> Gia Lai</option>

                                        <option value="77TTT"> Bà Rịa - Vũng Tàu</option>

                                        <option value="79TTT">Thành phố Hồ Chí Minh</option>

                                        <option value="02TTT"> Hà Giang</option>

                                        <option value="68TTT"> Lâm Đồng</option>

                                        <option value="35TTT"> Hà Nam</option>

                                        <option value="48TTT">Thành phố Đà Nẵng</option>

                                        <option value="70TTT"> Bình Phước</option>

                                        <option value="49TTT"> Quảng Nam</option>

                                        <option value="38TTT"> Thanh Hóa</option>

                                        <option value="84TTT"> Trà Vinh</option>

                                        <option value="11TTT"> Điện Biên</option>

                                        <option value="27TTT"> Bắc Ninh</option>

                                        <option value="30TTT"> Hải Dương</option>

                                        <option value="46TTT"> Thừa Thiên Huế</option>

                                        <option value="67TTT"> Đắk Nông</option>

                                        <option value="44TTT"> Quảng Bình</option>

                                        <option value="22TTT"> Quảng Ninh</option>

                                        <option value="33TTT"> Hưng Yên</option>

                                        <option value="96TTT"> Cà Mau</option>

                                        <option value="10TTT"> Lào Cai</option>

                                        <option value="56TTT"> Khánh Hòa</option>

                                        <option value="40TTT"> Nghệ An</option>

                                        <option value="12TTT"> Lai Châu</option>

                                        <option value="72TTT"> Tây Ninh</option>

                                        <option value="86TTT"> Vĩnh Long</option>

                                        <option value="24TTT"> Bắc Giang</option>

                                        <option value="04TTT"> Cao Bằng</option>

                                        <option value="15TTT"> Yên Bái</option>

                                        <option value="52TTT"> Bình Định</option>

                                        <option value="01TTT">Thành phố Hà Nội</option>

                                        <option value="06TTT"> Bắc Kạn</option>

                                    </select>
                                </div>
                                <div class="row d-flex justify-content-between m-0 p-0 ">
                                    <!--                                <div class=" col-lg-5 col-md-5 col-sm-12 mb-3  p-0">-->
                                    <select name="category" id="category" class="form-control md-form
                                     col-lg-6 col-md-6 col-sm-12 m-0 mt-2 p-0  p-1">
                                        <option value="" disabled="" selected="">Loại dự án</option>

                                        <option value="92TTT">Nhà Phố</option>

                                        <option value="92TTT">Biệt thự</option>
                                    </select>
                                    <!--                                </div>-->
                                    <div class="form-outline col-lg-6 col-md-6 col-sm-12  mt-2 p-0 m-0 ">
                                        <input type="number" id="itProject" placeholder="Mã dự án"
                                               class="form-control ml-md-2 p-1">
                                    </div>
                                </div>
                                <div class="row  d-flex justify-content-between m-0 p-0">
                                    <div class="form-outline col-lg-6  col-md-6 col-sm-12 p-0 m-0">
                                        <label for="area-width" style="font-size: 13px">
                                            Chiều rộng(<span class="position-relative m-1">m<span
                                            class="position-absolute top right "
                                            style="font-size: 10px;">2</span></span> )</label>
                                        <input type="number" id="area-width" class="form-control mr-2 p-1">
                                    </div>
                                    <div class="form-outline col-lg-6 col-md-6 col-sm-12 p-0 m-0 ">
                                        <label for="area-length" class="ml-md-2" style="font-size: 13px">
                                            Chiều dài(<span class="position-relative m-1">m<span
                                            class="position-absolute top right "
                                            style="font-size: 10px;">2</span></span> )</label>
                                        <input type="number" id="area-length" class="form-control ml-md-2 p-1">
                                    </div>
                                </div>
                                <div class="">
                                    <label class="mdb-main-label" style="font-size: 13px">Dịch vụ</label>
                                    <select class="mdb-select md-form " multiple>
                                        <option value="1">Xây dựng phần thô</option>
                                        <option value="2">Xây nhà trọn gói</option>
                                        <option value="3" selected>Thiết kế nội thất</option>
                                        <option value="4">Sữa chữa</option>
                                    </select>
                                </div>

                                <!-- Message -->
                                <form method="dialog" class="form-img">
                                    <div class="input-group mt-2">
                                        <div class="file-field d-flex align-items-center">
                                            <p class="m-0">khu vực thi công: </p>
                                            <div class="btn btn-primary btn-sm float-left">
                                                <span>chọn ảnh</span>
                                                <input type="file" id="file_input" multiple>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-wrapper">
                                        <div class="border d-flex img-container">
                                        </div>
                                    </div>
                                </form>
                                    <div class="text-center mt-4">
                                        <button class="btn btn-red" type="submit">Đặt Ngay</button>
                                    </div>

                            </div>
                        </form>

                        <div class="mt-2">
                            <div class="feature-news-header">
                                <p class="text-uppercase main-color"><i class="fa-solid fa-caret-right mr-2">
                                </i> bạn có thể quan tâm</p>
                            </div>
                            <ul class="feature-news-list">
                                <li class="feature-news-items mb-2">
                                    <a href="#" class="feature-news-items-link d-flex row" role="link">
                                        <div class="feature-news-items-img d-block hover-image col-5 pr-0">
                                            <img
                                                src="../../../../../RealEstateWeb/public/img/project-img/thiet-ke-biet-thu-13-1-e1672026065491.jpg"
                                                alt="">
                                        </div>
                                        <div class="feature-news-items-info col-6 pl-0">
                                            <div class="feature-news-items-info-title text-uppercase">
                                                biệt thự pháp
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="feature-news-items mb-2">
                                    <a href="#" class="feature-news-items-link d-flex row" role="link">
                                        <div class="feature-news-items-img d-block hover-image col-5 pr-0">
                                            <img
                                                src="../../../../../RealEstateWeb/public/img/project-img/Mau-thiet-ke-biet-thu-Chau-Au-e1672026132195.jpg"
                                                alt="">
                                        </div>
                                        <div class="feature-news-items-info col-6 pl-0">
                                            <div class="feature-news-items-info-title text-uppercase">
                                                biệt thự châu âu
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="feature-news-items mb-2">
                                    <a href="#" class="feature-news-items-link d-flex row" role="link">
                                        <div class="feature-news-items-img d-block hover-image col-5 pr-0">
                                            <img
                                                src="../../../../../RealEstateWeb/public/img/project-img/nhaanhchung-4935.jpg"
                                                alt="">
                                        </div>
                                        <div class="feature-news-items-info col-6 pl-0">
                                            <div class="feature-news-items-info-title text-uppercase">
                                                nhà anh hưng gò vấp
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="feature-news-items mb-2">
                                    <a href="#" class="feature-news-items-link d-flex row" role="link">
                                        <div class="feature-news-items-img d-block hover-image col-5 pr-0">
                                            <img
                                                src="../../../../../RealEstateWeb/public/img/project-img/screenshot-20230819-165117-8274.png"
                                                alt="">
                                        </div>
                                        <div class="feature-news-items-info col-6 pl-0">
                                            <div class="feature-news-items-info-title text-uppercase">
                                                Phối cảnh an nhiên
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--end content-->
<!--start footer-->
<footer class="page-footer font-small pt-2">

    <!-- Footer Links -->
    <div class="container text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3 flex-column align-items-center justify-content-center">
                <div class="row ">
                    <img class="col-4 col-sm-3 " src="../../../../RealEstateWeb/public/img/logo/logo.png">
                    <h3 class="col-8 text-uppercase mb-2 mt-2 font-weight-bold main-color d-flex align-items-center">nhà
                        đẹp</h3>
                </div>
                <p class="mt-2" style="color: #656565; font-size: 16px">Nhà Đẹp là đơn vị chuyên thi công, thiết kế, xây
                    dựng,
                    trang trí nội
                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating mx-1">
                                <img class="hoverable-img mx-0 "
                                     src="../../../../../RealEstateWeb/public/img/snapedit_1694631625483.png"
                                     style="width: 45px">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3 flex-column align-items-center justify-content-center">

                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                    hệ
                </h5>
                <p>
                    <span
                        style="color: #656565;font-size: 16px">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565;font-size: 16px">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565;font-size: 16px">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565;font-size: 16px">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-12 col-lg-4 col-xl-4 mx-auto mt-3 flex-column align-items-center justify-content-center">

                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch vụ</h5>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Xây nhà thô</a>
                </p>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Xây biệt thự</a>
                </p>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>

<!--end footer-->


<!--start script -->
<!-- end script-->

<!--<script type="module">-->
<!--   -->
<!--</script>-->
<script src="../../../../../RealEstateWeb/public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="../../../../../RealEstateWeb/public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="../../../../../RealEstateWeb/public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="../../../../../RealEstateWeb/public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="../../../../../RealEstateWeb/public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>
<script src="../../../../RealEstateWeb/resources/views/template/js/main.js"></script>

<!--<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>-->
<!-- Define the symbols, these are invisible on the page -->
<script>
    let allFiles = [];
    let form = document.getElementsByClassName("form-img");
    let input = document.getElementById("file_input");
    let container = document.getElementsByClassName("img-container");
    if(input.files.length!= 0){
        container[0].parentElement.classList.add('d-block')
        container[0].parentElement.classList.remove('d-none')
    }else{
        container[0].parentElement.classList.add('d-none')
        container[0].parentElement.classList.remove('d-block')
    }
    input.addEventListener('change', function () {
        let files = this.files;
        for (let i = 0; i < files.length; i++) {
            allFiles.push(files[i])
        }
        showImage();
    })
    const showImage = () => {
        if(input.files.length!= 0){
            container[0].parentElement.classList.add('d-block')
            container[0].parentElement.classList.remove('d-none')
        }else{
            container[0].parentElement.classList.add('d-none')
            container[0].parentElement.classList.remove('d-block')
        }
        let images = ' ';
        allFiles.forEach((e, i) => {
            images += '<div class="image position-relative border-radius"><img src="' + URL.createObjectURL(e) + '" alt="" class="border"> ' +
                '<div class="position-absolute " > <i class="fa-solid fa-xmark" onclick="delImage(' + i + ')" style=""></i></div></div>'
        })
        container[0].innerHTML = images
    }
    let dt = new DataTransfer();
    const delImage = index => {
        let dt = new DataTransfer();
        for (let i = 0; i < input.files.length; i++) {
            if (index !== i)
                dt.items.add( input.files[i]) // here you exclude the file. thus removing it.
        }
        input.files = dt.files
        allFiles=Array.from(input.files)
        showImage()
    }
</script>
<script>
    // while click fa-regular fa-bookmark change to fa-solid fa-bookmark
    $(document).ready(function () {
        $('.fa-bookmark').click(function () {
            $(this).toggleClass('fa-regular fa-bookmark fa-solid fa-bookmark');
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.mdb-select').materialSelect();
    });
</script>
</body>
</html>
