<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../../../RealEstateWeb/public/lib/MDB_4_pro/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../../RealEstateWeb/public/lib/MDB_4_pro/css/mdb.lite.min.css" rel="stylesheet">
    <link href="../../../../RealEstateWeb/public/lib/MDB_4_pro/css/mdb.min.css" rel="stylesheet">

    <link href="../../../../RealEstateWeb/public/lib/MDB_4_pro/css/style.css" rel="stylesheet">
    <link href="../../../../RealEstateWeb/resources/views/template/css/services.css" rel="stylesheet">

    <!--<link href="/lib/fontawesome-free-6.4.2-web/css/fontawesome.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

</head>
<body>

<!--start Navigation-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top nav-property ">
    <div class="container">
        <a class="navbar-brand "
           href="../../../../RealEstateWeb/resources/views/template/template_main">
            <div class="navbar-brand flex-center justify-content-between ">
                <img class="mr-3 ml-4 " src="../../../../RealEstateWeb/public/img/logo/logo.png" style="width: 50px">
                <h5 class=" text-uppercase mb-2 mt-2 font-weight-bold main-color">XÂY DỰNG NHÀ ĐẸP</h5>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
                aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse border-left row  align-items-center" id="navbarSupportedContent-555">
            <ul class="navbar-nav  col-9 border-right">
                <li class="nav-item nav-menuItem font-weight-bolder ">
                    <a class="nav-link text-center" href="../../../../RealEstateWeb/resources/views/template/main.html">Trang Chủ
                    </a>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link text-center" href="../../../../RealEstateWeb/resources/views/template/intro.html">Giới Thiệu</a>
                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem" id="nav-menuItem-active"
                >
                    <a class="nav-link text-center"
                       href="../../../../RealEstateWeb/resources/views/template/services.html"
                       role="link"
                    >Dịch vụ
                    </a>
                    <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                    <div class="dropdown-menu mt-1 w-100">
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Nhà Trọn Gói</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Nhà Thô</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Biệt Thự</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Xây Nhà Xưởng</a>
                    </div>

                </li>
                <li class="d-flex align-items-center nav-item
                nav-menuItem position-relative font-weight-bolder nav-dropdownItem"
                >
                    <a class="nav-link text-center"
                       href="../../../../RealEstateWeb/resources/views/template/project.html"
                       role="link"
                    >Dự án
                    </a>
                    <i class="fa-solid fa-angle-down position-absolute  " style="color: #000000;"></i>
                    <div class="dropdown-menu mt-1 w-100">
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Biệt Thự</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Nhà Phố</a>
                        <a class="dropdown-item text-center" style="font-size: 16px" href="#">Văn Phòng</a>
                    </div>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link text-center" href="../../../../RealEstateWeb/resources/views/template/contact.html">Liên Hệ</a>
                </li>
                <li class="nav-item nav-menuItem font-weight-bolder">
                    <a class="nav-link text-center" href="../../../../RealEstateWeb/resources/views/template/login.html">Đăng nhập</a>
                </li>
            </ul>
            <!--icon font ring-->
            <div class="phone-contain flex-center justify-content-center col-3">

                <div class="icon-phone-ring col-lg-6 col-md-6 col-sm-12 ">
                    <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-phone"></i>
                        <i class="circle-1"></i>
                    </div>
                </div>
                <div>
                    <a class=" col-lg-6 col-md-6">0352033199</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--end Navigation-->

<!--start content-->
<div class="my-body">
    <div class="container">
        <!--        breadcrumb -->
        <div id="section-1" class="bc-icons-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-white small">
                    <li class="breadcrumb-item">
                        <a class="black-brown-text breadcrumb-size" href="/">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                    <li>
                        <i class="fas fa-caret-right mx-2 black-brown-text" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active breadcrumb-size">
                        <a class="black-text text-uppercase font-weight-bolder" href="#">GIỚI THIỆU CHUNG</a>
                    </li>
                </ol>
            </nav>
        </div>
        <!--    end breadcrumb-->
        <!--Section: Posts-->
        <section class="text-center">
            <h1 class="mb-5" style="color:#E90808; font-family: Inter,Arial, Helvetica, sans-serif; font-weight: 700;">
                Dịch vụ và báo giá</h1>

            <div class="row g-4 g-lg-5">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div
                            class="bg-image hover-overlay ripple"
                            data-mdb-ripple-color="light">
                            <a href="#">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.15)"
                                ></div>
                                <div class="hover-img">
                                    <img
                                        src="../../../../RealEstateWeb/public/img/service-img/untitled-3-8307.png"
                                        class="img-fluid"/>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <h3 class="card-title">Dịch vụ thi công nhà phần thô</h3>
                                <p class="card-text">
                                    Để xây dựng một tổ ấm hoàn mỹ, lựa chọn được một đơn vị thi công phần thô nhà phố là
                                    yêu
                                    cầu tiên quyết. Một đơn vị thi công phù hợp sẽ đảm bảo chất lượng công trình tốt
                                    nhất và
                                    giúp gia chủ cân đối được nguồn tài chính khi xây nhà.
                                </p>
                            </div>
                            <a href="../../../../RealEstateWeb/resources/views/template/servicePost.html" class="btn btn-rounded">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div
                            class="bg-image hover-overlay ripple"
                            data-mdb-ripple-color="light">
                            <a href="#">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.15)"
                                ></div>
                                <div class="hover-img">
                                    <img
                                        src="../../../../RealEstateWeb/public/img/service-img/dichvuxaydungnhaotrongoi-2589.jpg"
                                        class="img-fluid"/>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <h3 class="card-title">Dịch vụ xây nhà trọn gói</h3>
                                <p class="card-text">
                                    Dịch vụ xây nhà trọn gói là một giải pháp toàn diện và tiện lợi cho việc xây dựng
                                    ngôi nhà mơ ước của bạn. Thay vì bạn phải tự mình quản lý từng khía cạnh của quá
                                    trình xây dựng, dịch vụ xây nhà trọn gói sẽ đảm nhiệm toàn bộ công việc, từ thiết kế
                                    ban đầu đến hoàn thiện cuối cùng.
                                </p>
                            </div>
                            <a href="../../../../RealEstateWeb/resources/views/template/servicePost.html" class="btn btn-rounded">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div
                            class="bg-image hover-overlay ripple"
                            data-mdb-ripple-color="light">
                            <a href="#">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.15)"
                                ></div>
                                <div class="hover-img">
                                    <img
                                        src="../../../../RealEstateWeb/public/img/service-img/nhamaysanxuatgangtay-7223.jpg"
                                        class="img-fluid"/>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="card-content">
                                <h3 class="card-title">Dịch vụ thi công nhà xưởng</h3>
                                <p class="card-text">
                                    Dịch vụ thi công nhà xưởng là quá trình tổ chức, quản lý và thực hiện xây dựng hoặc
                                    cải tạo các cơ sở sản xuất, nhà máy, hoặc nhà xưởng để đáp ứng nhu cầu sản xuất và
                                    kinh doanh của khách hàng.
                                </p>
                            </div>
                            <a href="../../../../RealEstateWeb/resources/views/template/servicePost.html" class="btn btn-rounded">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Section: Posts-->
    </div>
</div>
<!--end content-->

<!--start footer-->
<footer class="page-footer font-small pt-2">

    <!-- Footer Links -->
    <div class="container text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3 flex-column align-items-center justify-content-center">
                <div class="row ">
                    <img class="col-4 col-sm-3 " src="../../../../RealEstateWeb/public/img/logo/logo.png">
                    <h3 class="col-8 text-uppercase mb-2 mt-2 font-weight-bold main-color d-flex align-items-center">nhà
                        đẹp</h3>
                </div>
                <p class="mt-2" style="color: #656565; font-size: 16px">Nhà Đẹp là đơn vị chuyên thi công, thiết kế, xây
                    dựng,
                    trang trí nội
                    ngoại thất công trình với nhiều năm kinh nghiệm.</p>
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating btn-email mx-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="hoverable btn-floating mx-1">
                                <img class="hoverable-img mx-0 "
                                     src="../../../../RealEstateWeb/public/img/snapedit_1694631625483.png"
                                     style="width: 45px">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- end Social Buttons -->
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-4 col-xl-4 mx-auto mt-3 flex-column align-items-center justify-content-center">

                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin liên
                    hệ
                </h5>
                <p>
                    <span
                        style="color: #656565;font-size: 16px">Địa chỉ: 254/5/41 Lê Văn Thọ, P.11, Q. Gò Vấp, TP. HCM</span>
                </p>
                <p>
                    <span style="color: #656565;font-size: 16px">Số Điện Thoại: 0935 671 886</span>
                </p>
                <p>
                    <span style="color: #656565;font-size: 16px">Email: RealEstateGig@gmail.com</span>
                </p>
                <p>
                    <span style="color: #656565;font-size: 16px">Website: RealEstateGig.com</span>
                </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-12 col-lg-4 col-xl-4 mx-auto mt-3 flex-column align-items-center justify-content-center">

                <h5 class="text-uppercase mb-4 font-weight-bold" style="color: #4A4A4A">Thông tin dịch vụ</h5>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Thiết kế, xây dựng nội thất</a>
                </p>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Xây nhà thô</a>
                </p>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Xây biệt thự</a>
                </p>
                <p>
                    <a class="f-link" style="font-size: 16px" href="#!">Xây hầm</a>
                </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->

            <!-- Grid column -->

        </div>
        <!-- Footer links -->


    </div>
    <!-- Footer Links -->

</footer>
<!--end footer-->

<script src="../../../../RealEstateWeb/resources/views/template/js/main.js"></script>
<script src="../../../../RealEstateWeb/public/lib/MDB_4_pro/js/jquery.min.js"></script>
<script src="../../../../RealEstateWeb/public/lib/MDB_4_pro/js/popper.min.js"></script>
<script src="../../../../RealEstateWeb/public/lib/MDB_4_pro/js/bootstrap.min.js"></script>
<script src="../../../../RealEstateWeb/public/lib/MDB_4_pro/js/mdb.min.js"></script>
<script src="../../../../RealEstateWeb/public/lib/MDB_4_pro/js/mdb.lite.min.js"></script>
</body>
</html>
