.mdb-select .select-dropdown {
    border: 1px solid #bdbdbd !important;
    border-radius: 5px !important;
}

.md-form{
    margin: 0 !important;
}
 .dropdown-content li > span , .select-wrapper.md-form > ul li.select-toggle-all label{
    color: black;
}
.select-wrapper input.select-dropdown  {
     padding:10px
 }
