.upload-wrapper .image img ,.upload-wrapper .image1 img {
    width: 200px;
    margin: 5px;border-radius: 5px;
}
.upload-wrapper.avatar .image img{
    width: 100%;
    max-width: 500px;
    margin: 5px;border-radius: 5px;
}


.upload-wrapper .image > div ,.upload-wrapper .image1 > div {
    top: 5%;
    right: 3%;
}

.upload-wrapper .image > div > i ,.upload-wrapper .image1 > div > i {
    color: black;
}
.upload-wrapper .image > div > i:hover,.upload-wrapper .image1 > div > i:hover {
    color: #E90808;
}

.upload-wrapper .img-container, .upload-wrapper .img-container1 {
    overflow-x: scroll;
    overflow-y: hidden;
}
