.box-project{
    padding: 15px
}
.box-project img{
    width: auto;
    max-width: 300px;
    min-width: 120px;
    object-fit: cover;
    height: 100%;
    margin-right: 15px;
}
.box-content h4{
    font-weight: 600;
}
.box-content p{
font-weight: 600;
font-size: 15px;
    margin-bottom: 3px;
}
.box-content p:nth-child(2n){
    background-color: #efefef;

}
.box-content p span{
    color: #595858;
    font-size: 13px;
}
.box-button button{
 border-radius: 7px;
}