
.table td, .table th {
    font-family: Inter, Arial, Helvetica, sans-serif !important;
    font-weight: 700 !important;
}

#slide-out ul li a {
    color: black;
}

#slide-out ul li .history {
    color: #E90808;
}

.history {
    font-size: 13px;
    color: #ffffff
}
