.edit-icon {
    position: absolute;
    top: 20%;
    left: 49%;
    display: none;
    background-color: unset;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.edit-icon .pencil-edit {
    font-size: 18px;
    color: #E90808;
}

.img-avatar-edit:hover .edit-icon {
    display: block;
}

.profile-card {
    border-radius: 10%;
}

.btn-save {
    padding-top: 2%;
}
.mdb-select .dropdown-content li > a, .mdb-select .dropdown-content li > span{
 color: rgb(73, 80, 87);
}
.btn-save .btn {
    color: white;
    background-color: #E90808 !important;
    font-family: Inter, Arial, Inter, Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: 5px solid #E90808 !important;
    margin-top: auto !important;

}

.btn:hover {
    color: #E90808 !important;
    background-color: white !important;

}

#slide-out ul li a {
    color: black;
}

#slide-out ul li .profile {
    color: #E90808;
}

.form-check {
    top: 50%;
}

.btn-save-edit {
    border-radius: 10px !important;
}
.rounded-circle{
    height: 200px;
    width: 200px;
}
