.hover-image:before {
    left: -92%;
}

.projectCard-content p {
    padding: 0 1.5rem !important;
}

.projectCard-container:hover .projectCard-content {
    transform: translateY(-75%);

}

.projectCard-container:hover .projectCard-content div div {
    justify-content: center;
}

.projectCard-container:hover .projectCard-content p {
    padding: 1.5rem !important;
}

.recommend-box img {
    object-fit: cover;
    height: 370px;
    transition: all 0.4s cubic-bezier(0.2, 0.3, 0.8, 0.7);
}
.recommend-box button{
    border-radius: 10px;
}
.projectCard-container:hover img {
    transform: scale(1.1);
}

.projectCard-content {
    top: 75%;
    left: 0;
    height: 100%;
    transition: all .75s ease-in-out;
}

.projectCard-content img {
    object-fit: cover;
}
.projectCard-content h6{
    font-size: 16px;
}
.projectCard-content p{
    font-size: 13px;
}
.projectCard-content .projectTitle-center {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.projectCard-content .projectTitle-center::after {
    content: "";
    display: block;
    width: 65px;
    height: 2px;
    border-bottom: 2px solid #fff;
    margin: 12px auto 0px auto !important;
}
